@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "venus-rising-rg";
  src: url("/fonts/venus-rising-rg.ttf");
}

body {
  font-family: "venus-rising-rg";
}

#__next {
  min-height: 100vh;
}
